/*
table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
    content: " \25B4\25BE"
}
*/
/* Sortable tables */
table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}
table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
    content: " \25B4\25BE"
}

.have-result {
    background-color:#444;
    color:#222;
    cursor: default;
}

.inner th {
    padding-left: 10px;
    display: inline-block;
    position: relative;
    text-align: center;
    width: 25px;
}

.legend{
	font-size: 7pt; /* Размер шрифта в пунктах */
}


#loader-gif{
    display:none;
}

.textarea{
    width:100%;
}

.more-opacity{
    opacity:0.4;
}

.fhm{
    //background-color:#eee;
    //color:#666666;
}
body{
    background-color:#0fa!important;
    color: #b0b;
}

a{
    color:#050;
}

.at_load{
    background-image: url(../img/giphy.gif);
}

.flash{
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    font-size:large;
    cursor: default;
}

.more-opacity{
    opacity:0.4;
}

#sniffer_state{
    background-color:#eee;
    color: #ff99ff;
    font-weight: bold;
    font-size:large;
    cursor: default;
}

.accepted{
    font-weight: bold;
    color: #ff99ff;
}

#error{
    color: #000;
    font-weight: bold;
}