{% extends "layout.html" %}
{% block body %}

{% block content %}
<script src="{{ url_for('static', filename='js/generators.js') }}"></script>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <img id='loader-gif' src="{{url_for('static', filename='img/giphy.gif')}}">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>Сопоставление сабов да генераторовъ</h2>
            <hr>
            <form class="form-horizontal" id="sub-generators-form" action="{{url_for('gens_manage')}}" method="post">
                <div class="form-group">
                    <label class="col-md-3 control-label">Выбери сабъ:</label>
                    <div class="col-md-5">
                        <select class="form-control" name="sub" id="sub-choose">
                            <option>Выберай сабъ</option>
                            {%for sub in subs%}
                            <option value="{{sub}}">{{sub}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Определи для него генераторы:</label>
                    <div class="col-md-5">
                        <select multiple class="form-control" name="gens[]">
                            {%for gen in gens%}
                            <option value="{{gen}}" id="choose-sub-{{gen}}" class="gen-name">{{gen}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Определи для него связные сабы:</label>
                    <div class="col-md-5">
                        <textarea name="related-subs" id="related-subs" rows="5" class="textarea"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Да ключевые слова подбери:</label>
                    <div class="col-md-5">
                        <textarea name="key-words" id="key-words" rows="5" class="textarea"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-5 col-md-offset-3">
                        <button class="submit btn btn-info btn-lg disabled sub-generator-btn" type="submit">
                            Постановить
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <button class="btn btn-success btn-lg btn-block disabled sub-generator-btn"
                    onclick="generator_action(undefined, 'start')">Запустить!
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div>
                Автоматически херачить в очередь?
                <div id="noise-auto" class="form-group">
                    <label for="auto-queue-put">Ага</label>
                    <input type="checkbox" id="auto-queue-put">
                    <label for="auto-queue-put-after">через </label>
                    <input type="number" id="auto-queue-put-after" value="3600">
                    секунд
                    <div id="noise-auto-result"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <button class="btn btn-default btn-lg btn-block disabled sub-generator-btn"
                    onclick="generator_action(undefined, 'pause')">Приостановить...
            </button>
        </div>
        <div class="col-md-3">
            <h3>Результат гляди
                <small><a href="{{url_for('posts')}}">тута</a></small>
            </h3>
        </div>
    </div>
</div>
<script>
    $.ajax({
        type:"get",
        url:"/global_configuration/noise_auto_adder",
        success:function(data){
            if (data.ok){
                $("#auto-queue-put").prop("checked", data.result.on);
                $("#auto-queue-put-after").val(data.result.after);
            }
        }
    });

    $("#sub-choose").change(function(e){
    var sub_name = $(this).val();
    if (sub_name == undefined){
        $(".sub-generator-btn").addClass("disabled");
    } else{
        $("#loader-gif").show();
        $.ajax({
            type:"post",
            url:"/generators/sub_info",
            data:JSON.stringify({"sub":sub_name}),
            contentType:    'application/json',
            dataType:       'json',
            success:function(data){
                console.log(data);
                if (data.ok == true){
                    $(".gen-name").prop('selected', false);
                    data.generators.forEach(function(x, el){
                        $("#choose-sub-"+x).prop('selected', true);
                    });
                    $("#related-subs").text(data.related_subs);
                    $("#key-words").text(data.key_words);
                }
                 $("#loader-gif").hide();
            }
        });
        $(".sub-generator-btn").removeClass("disabled");
    }
});








</script>

{% endblock %}

{%endblock%}