<!doctype html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>GENERATORS for RR-People</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-datepicker.min.css') }}">

    <!-- Optional theme -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-theme.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

    <!-- Latest compiled and minified JavaScript -->
    <script src="{{ url_for('static', filename='js/jquery-2.1.4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sorttable.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/mustache.min.js') }}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>-->

    {% block head %}
    {% endblock %}
</head>
<div class=page>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-collapse collapse">
                <ul class="nav nav-pills">
                    {% if session.user_id %}
                    <li role="presentation"><a href="{{ url_for('users_api.logout') }}">Log out</a></li>
                    {%if wake_up %}
                    <li role="presentation"><a href="{{ url_for('wake_up_api.wake_up_manage') }}">WakeUp management</a>
                    </li>
                    {%else%}
                    <li role="presentation"><a href="#">WakeUp отключен-с</a></li>
                    {%endif%}
                    <li role="presentation"><a href="{{ url_for('posts') }}">Posts</a></li>
                    <li role="presentation"><a href="{{ url_for('gens_manage') }}">Generators</a></li>
                    <li role="presentation">
                        <a href="{{ url_for('youtube_manage')}}">
                            <img src="{{url_for('static', filename='img/truba.jpg')}}" width="45" height="30">
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            <img src="{{url_for('static', filename='img/snif.jpg')}}" width="45" height="30">
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{url_for('sniffer_manage')}}"> Управление </a></li>
                            <li><a href="{{url_for('sniffer_channels')}}"> Каналы </a></li>
                            <li><a href="{{url_for('sniffer_categories')}}"> Категории </a></li>
                            <li><a href="{{url_for('sniffer_videos')}}"> Видюхи </a></li>
                        </ul>
                    </li>


                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>

    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-3">
                <h1 class="fhm">FUCKING HUMAN MANAGEMENT
                    <small>generators</small>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                {% for message in get_flashed_messages() %}
                <div class=flash>{{ message }}</div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% block body %}
    {% endblock %}
</div>
</html>