{% extends "layout.html" %}
{% block body %}

{% block content %}


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1>
                    <small><a href="{{url_for('posts')}}">взад</a></small>
                    Посты в состоянии: <big>[{{state}}]</big>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <table class="table table-hover sortable">
                    <thead>
                    <tr>
                        <td>Title (кликаб)</td>
                        <td>important</td>
                        <td>human</td>
                        <td>time added</td>
                        <td>for sub</td>

                        <td>error info</td>

                        <td>change state</td>
                    </tr>
                    </thead>
                    <tbody>
                    {%for post in posts%}
                    <tr id="{{post['url_hash']}}">
                        <td><a href="{{post['url']}}">{{post['title']}}</a> </td>
                        <td>{{post['important']}}</td>
                        <td>{{post['human']}}</td>
                        <td>{{post['time'] | tst_to_dt}}</td>
                        <td>{{post['for_sub']}}</td>

                        <td class="col-md-3">{{post['error_info']}}</td>

                        <td>
                            <select class="state"  post-url-hash="{{post['url_hash']}}">
                                <option>выберай</option>
                                {%for state in states%}
                                    <option name="{{state['_id']}}">{{state['_id']}}</option>
                                {%endfor%}
                            </select>
                        </td>
                    </tr>
                    {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(".state").change(function(e){
        var state = $(this).val(),
            post_hash = $(this).attr('post-url-hash');
        console.log("change", state, post_hash);
        $.ajax({
            type:"post",
            url: "{{url_for('change_post_state')}}",
            data:JSON.stringify({"url_hash":post_hash, "new_state":state}),
            contentType:    'application/json',
            dataType:       'json',
            success: function(data){
                if (data.ok){
                    $("#"+post_hash).append("<td> <span class='glyphicon glyphicon-ok' aria-hidden='true'></span></td>")
                } else {
                    $("#"+post_hash).append("<td> <span class='glyphicon glyphicon-exclamation-sign' aria-hidden='true'></span></td>")
                }
            }
        })
    });

</script>
{% endblock %}

{% endblock %}