{% extends "layout.html" %}
{% block body %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h1>Очередь постов для {{human_name}}
                <small><a href="http://humans-shlak0bl0k.rhcloud.com/humans/{{human_name}}">[к управлению]</a></small>
            </h1>
            <br>
            <hr>

            <div class="posts_containers">


                <div class="row">
                    <div class="col-md-6 col-md-offset-4">
                        <h3>Всего
                            <small>({{queue | length}})</small>
                            :
                        </h3>
                    </div>
                </div>


                <table class="table table-stripped table-hover table-condensed">
                    <thead>
                    <tr>
                        <td>important?</td>
                        <td>url</td>
                        <td>found at sub</td>
                        <td>will post to sub</td>
                        <td>channel id</td>
                        <td>when found</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for post in queue %}
                    <tr id="{{post['url_hash']}}">
                        <td>
                            {{post['important']}}
                        </td>
                        <td>
                            <a href="{{post['url']}}" target="_blank">{{post['title']}}</a>
                        </td>
                        <td>
                            {{post.get('sub', '-')}}
                        </td>
                        <td>
                            {{post['for_sub']}}
                        </td>
                        <td>
                            {{post['channel_id']}}
                        </td>
                        <td>
                            {{post['time'] | tst_to_dt}}
                        </td>
                        <td>
                             <button class="btn btn-danger"
                                                    onclick="delete_post('{{post.url_hash}}');">
                                                Нахуй
                                            </button>
                        </td>

                    </tr>
                    {% endfor %}
                    </tbody>
                </table>


            </div>

        </div>

    </div>

</div>
<script src="{{ url_for('static', filename='js/generators.js') }}"></script>
{% endblock %}
{% endblock %}