{% extends "layout.html" %}
{% block body %}

{% block content %}

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1 class="text-center">Sniffer-хуифер
                    <small>категории</small>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <form action="{{url_for('sniffer_categories')}}" method="post">
                    <h1>Добавь категорию
                        <small>(слова и фразы указывай через ентер)</small>
                    </h1>
                    {%if category_change%}
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="имя категории" name="name"
                               value="{{category_change['name']}}">
                    </div>
                    <div class="form-group">
                        <textarea rows="10" class="form-control"
                                  placeholder="слова по которым будет определятся видео-донор"
                                  name="words">
                            {%for word in category_change['words']%}
                            {{word}}
                            {%endfor%}
                        </textarea>
                    </div>
                    {%else%}
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="имя категории" name="name">
                    </div>
                    <div class="form-group">
                        <textarea rows="10" class="form-control"
                                  placeholder="слова по которым будет определятся видео-донор"
                                  name="words"></textarea>
                    </div>
                    {%endif%}
                    <button class="btn btn-sm" type="submit">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                    </button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h1>Знаемые категории</h1>
                {%for category in categories%}
                <div class="row category-info" cat-name="{{category['name']}}">
                    <div class="col-md-1">
                        <a href="{{url_for('sniffer_categories', category_name=category['name'])}}">{{category['name']}}</a>
                    </div>
                    <div class="col-md-10">
                        {{array_to_string(category['words'])}}
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-sm btn-danger" onclick=deleteCategory("{{category['name']}}")>
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
                <hr>
                {%endfor%}
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h1>Тест названия видоса.</h1>
                <div class="row">
                    <div class="col-md-11">
                         <div class="form-group">
                        <textarea rows="10" class="form-control"
                                  placeholder="название видоса"
                                  id="cat-check-data">

                        </textarea>
                    </div>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-sm" onclick=catCheck()>
                            <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                    <span class="alert alert-info" id="cat-check-result"></span>
                    <span class="alert alert-danger" id="cat-check-error"></span>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function catCheck(){
        var title = $('#cat-check-data').val();
        $.ajax({
            url:        "{{url_for('sniffer_cat_check')}}",
            type:       "post",

            data:           JSON.stringify({'title':title}),
            contentType:    'application/json',
            dataType:       'json',

            success:    function(data){
                if (data.ok){
                    $('#cat-check-result').text(data.category);
                } else {
                    $('#cat-check-error').text(data.error);
                }
            }
        })

    }
    function deleteCategory(name){
        $.ajax({
            url:"{{url_for('sniffer_categories')}}/"+name,
            type:'delete',
            success:function(data){
                if (data.ok){
                    $(".category-info[cat-name='"+name+"']").addClass('more-opacity');
                }
            }
        });
    }
    
    function saveRetrieveConfig(){
        var need_next = $('#need-next').val(),
            stop_words = $('#stop-words').val(),
            split = $('#split').val();

        $.ajax({
            url: "/sniffer/config",
            type: 'put',
            data:           JSON.stringify({'need_next':need_next, 'stop_words':stop_words, 'split':split}),
            contentType:    'application/json',
            dataType:       'json',
            success:        function(data){
                    if (data.ok){
                        $('#save-config-result').text("Сохранилося!")
                    }
            }
        })

    }






</script>
{% endblock %}
{% endblock %}
