{% extends "layout.html" %}
{% block body %}

{% block content %}
<script>
    function addSniffedChannel(){
        channelId = $('#channel_id').val();
        $.ajax({
            type:           'post',
            url:            '/sniffer/channels',
            data:           JSON.stringify({'channel_id':channelId}),
            contentType:    'application/json',
            dataType:       'json',
            success:        function(data){
                    if (data.ok){
                        $('#result').text("Добавлен");
                    } else {
                        $('#error').text(data.error);
                    }
            },
            error:          function(data){
                    $('#error').text(data.error);
            }
        });
    }

    function deleteChannel(channelId){
        $.ajax({
            type:           'delete',
            url:            '/sniffer/channels',
            data:           JSON.stringify({'channel_id':channelId}),
            contentType:    'application/json',
            dataType:       'json',
            success:        function(data){
                    if (data.ok){
                        $('#'+channelId).addClass('more-opacity')
                    } else {
                        $('#error').text(data.error);
                    }
            },
            error:          function(data){
                    $('#error').text(data.error);
            }
        });
    }







</script>
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1 class="text-center">Sniffer-хуифер
                    <small>каналы</small>
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h2>Твой</h2>
                {%if current_channel%}
                <table class="table table-stripped sortable">
                    <tbody>
                    {% for k,v in current_channel.items() %}
                    <tr>
                        <td>
                            {{k}}
                        </td>
                        <td>
                            <b>{{v}}</b>
                        </td>
                    </tr>
                    {%endfor%}
                    </tbody>
                </table>
                {%else%}
                <h3>Отсуствует-с, батенька :(.
                    <small> Введите
                        <a href="{{url_for('sniffer_manage')}}">
                            тутъ
                        </a>.
                    </small>
                </h3>
                {%endif%}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">

                <div class="row">
                    <h3>Добавь отслеживаемый канал</h3>
                    <div class="form-group">
                        <input id="channel_id" type="text" class="form-control" name="channel_id">
                    </div>
                    <button class="btn btn-sm" onclick="addSniffedChannel()">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                    </button>
                    <span id="error"></span>
                    <span id="result"></span>
                </div>

                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="row">
                    <h3>Отслеживаемые каналы:</h3>
                    {%for channel in channels %}
                    <div class="row" id="{{channel.channel_id}}">

                        <div class="col-md-5">
                            <a href="https://www.youtube.com/channel/{{channel.channel_id}}" target="_blank">
                                {{channel.channel_id}}</a>
                        </div>

                        <div class="col-md-5">
                            {{channel.title}}
                        </div>

                        <div class="col-md-2">
                            <button class="btn btn-sm btn-danger" onclick="deleteChannel('{{channel.channel_id}}')">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                    {%endfor%}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% endblock %}
