{% extends "layout.html" %}
{% block body %}

{% block content %}

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1 class="text-center">Sniffer-хуифер
                    <small>состояние</small>
                </h1>
            </div>
        </div>
        {%if error%}
        <h1 class="text-center alert"> {{error}}</h1>
        {%endif%}
        {%if channels_set != channel_login %}
        <h1 class="text-center alert">Указанный канал ({{channel_set}}) не совпадает с залогиненым ({{channel_login}})
            !!!</h1>
        {%endif%}


        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                {%if current_channel%}
                <div class="row">
                    <h1>
                        <small>Используемый сейчас ид канала:</small>
                        <big>{{current_channel['title']}}</big>
                    </h1>
                </div>
                {%endif%}

                {%if credentials_data%}
                <div class="row">
                    <h1 class="text-center alert"> Ютуб аутоинтефикация прошла! данные сохранены следующие: </h1>
                    <p class="info">
                        {{credentials_data}}
                    </p>
                </div>
                {%endif%}

                {%if current_credentials%}
                <div class="row">
                    <h1 class="text-center alert">Текущие креденшелы:</h1>
                    <p class="info">
                        {{current_credentials}}
                    </p>
                    <button class="btn btn-sm" onclick="do_action('reset_credentials')">Очистить креденшелы</button>
                     <button class="btn btn-sm" onclick="do_action('start')">Запустить с текущими креденшелами</button>
                </div>
                {%endif%}

                <div class="row">

                    <h1>
                        <small>Работает:</small>
                        {{state}}
                    </h1>

                    {%if state%}
                    <button class="btn btn-sm" onclick="do_action('stop')">Остановить</button>
                    {%endif%}
                </div>


                <div class="row">
                    <h1>
                        <small>Состояние сохраненного подключения</small>
                    </h1>
                    <button class="btn btn-sm" onclick="checkYT()">Проверить</button>
                    <div id="check-yt-result">

                    </div>
                </div>

                <div class="row">
                    <h1>
                        <small>Запусти сниффер с указанным каналом:</small>
                    </h1>
                    <div class="col-md-12">
                        <form class="form-horizontal" method="POST" action="{{url_for('sniffer_manage')}}">
                            <div class="form-group">
                                <label for="channel_id"> Ид канала вводи своего:</label>
                                <input id="channel_id" type="text" class="form-control" name="channel_id">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-sm">Запустить sniffer c указанным каналом</button>
                            </div>
                        </form>
                    </div>

                </div>


                <div class="row">
                    <h1>
                        <small>Лог:</small>
                    </h1>
                    <button class="btn btn-sm" onclick="do_action('reset_log')">Очистить</button>
                    <br>
                    {{log | safe }}
                </div>

            </div>
        </div>


    </div>
</div>


<script>
    function do_action(action){
        $.ajax({
            url:            '{{url_for('sniffer_manage')}}',
            type:           'patch',
            data:           JSON.stringify({'action':action}),
            contentType:    'application/json',
            dataType:       'json',
            success:        function(data){
                                if (data.ok) {
                                    location.reload();
                                }
            }
        });
    }


    function checkYT(){
        $.ajax({
            url:    '/youtube/check',
            success: function(data){
                $('#check-yt-result').text(JSON.stringify(data));
            }
        })
    }




















</script>
{% endblock %}
{% endblock %}
