{% extends "layout.html" %}
{% block body %}

{% block content %}
<script>
    function get_categories(select){
        var result = [];
        select.find('option:selected').each(function(i, el){
            result.push($(el).attr('value'));
        });
        return result;
    }

    function get_for_channel(input){
        var data = input.val(),
            channels = data.split(', ');
        return channels;
    }

    function applyVideoParams(videoId){
        var categories = get_categories($('#cat_select_'+videoId));
        var for_channel = get_for_channel($('#for_channel_'+videoId));

        $.ajax({
            url:            '{{url_for('sniffer_videos')}}',
            type:           'post',
            data:           JSON.stringify({'video_id':videoId, 'categories':categories, }),
            contentType:    'application/json',
            dataType:       'json',
            success:        function(data){
                                if (data.ok) {
                                    $('#result').text('Видео ['+videoId+'] обновленно... Обнови страницу чтобы увидеть.');
                                } else {
                                    $('#error').text(data.error);
                                }
            }
        })
    }

    function deleteVideo(videoId){
        $.ajax({
            url:            '{{url_for('sniffer_videos')}}/'+videoId,
            type:           'delete',
            success:        function(data){
                                if (data.ok){
                                        $('#'+videoId).addClass('more-opacity');

                                } else{
                                    $('#error').text(data.error);
                                }
            }
        })
    }
















</script>
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1 class="text-center">Sniffer-хуифер
                    <small>видосы на загрузку</small>
                </h1>
            </div>
        </div>

        <div class="row">
            <span id="error"></span>
            <span id="result"></span>
            <div class="col-md-12">
                <table class="table sortable table-hover table-striped">
                    <thead>
                    <tr>

                        <td>Ид</td>
                        <td>Название</td>
                        <td>Категория</td>
                        <td>Для канала(ов)</td>
                        <td>-</td>
                    </tr>
                    </thead>
                    <tbody>
                    {%for video in videos%}

                    <tr id="{{video['video_id']}}">
                        <td>
                            <a href="https://www.youtube.com/watch?v={{video['video_id']}}" target="_blank"><img
                                    src="{{video['img']}}" width="160" height="90"></a>
                        </td>
                        <td>
                            <h4>{{video['title']}}
                                <small>{{video['video_id']}}</small>
                            </h4>
                        </td>
                        <td>
                            <select multiple class="form-control" id="cat_select_{{video['video_id']}}">
                                {%for category in categories%}
                                {%if category in video['categories']%}
                                <option value="{{category}}" selected>{{category}}</option>
                                {%else%}
                                <option value="{{category}}">{{category}}</option>
                                {%endif%}
                                {%endfor%}
                            </select>
                        </td>
                        <td class="col-md-3">
                            <input type="text" id="for_channel_{{video['video_id']}}"
                                   value="{{ array_to_string(video['for_channel']) }}">
                        </td>
                        <td>
                            <button class="btn btn-sm" onclick="applyVideoParams('{{video['video_id']}}')">
                                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                            </button>
                            <button class="btn btn-sm btn-danger" onclick="deleteVideo('{{video['video_id']}}')">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                    {%endfor%}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% endblock %}
