
        <div class="row">
            <form class="form-horizontal" id="start-experiment" action="{{url_for('youtube_manage')}}" method="POST">
                <div class="col-md-12">
                    <div class="row">
                        <div class="form-group">
                            <label for="keywords">Запрос:</label>
                            <input type="text" class="form-control" id="keywords" name="keywords" value="{{exp_data.get('keywords')}}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="m_keywords" data-toggle="tooltip"
                                   title="Наличие которых выкидывает из выборки и видео и канал">Стоп слова:</label>
                        <textarea class="form-control" rows="5" id="m_keywords" name="m_keywords">{{array_to_string(exp_data.get('m_keywords',[]))}}</textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-inline">
                                <div class="row"><h3>Channels filter</h3></div>
                                <label for="ch_commentCount_f">Comments min: </label>
                                <input type="number" class="form-control" id="ch_commentCount_f" name="ch_commentCount_f" value="{{exp_data.get('c_filter',{}).get('commentCount_f')}}">
                                <label for="ch_commentCount_t">max:</label>
                                <input type="number" class="form-control" id="ch_commentCount_t" name="ch_commentCount_f" value="{{exp_data.get('c_filter',{}).get('commentCount_t')}}">
                            </div>
                            <div class="form-group form-inline">
                                <label for="subscriberCount_f">Subscribers min: </label>
                                <input type="number" class="form-control" id="subscriberCount_f" name="subscriberCount_f" value="{{exp_data.get('c_filter',{}).get('subscriberCount_f')}}">
                                <label for="subscriberCount_t">max:</label>
                                <input type="number" class="form-control" id="subscriberCount_t" name="subscriberCount_t" value="{{exp_data.get('c_filter',{}).get('subscriberCount_t')}}">
                            </div>
                            <div class="form-group form-inline">
                                <label for="videoCount_f">Videos count min: </label>
                                <input type="number" class="form-control" id="videoCount_f" name="videoCount_f" value="{{exp_data.get('c_filter',{}).get('videoCount_f')}}">
                                <label for="videoCount_f">max:</label>
                                <input type="number" class="form-control" id="videoCount_t" name="videoCount_t" value="{{exp_data.get('c_filter',{}).get('videoCount_t')}}">
                            </div>
                            <div class="form-group form-inline">
                                <label for="ch_viewCount_f">Views count min: </label>
                                <input type="number" class="form-control" id="ch_viewCount_f" name="ch_viewCount_f"  value="{{exp_data.get('c_filter',{}).get('viewCount_f')}}">
                                <label for="ch_viewCount_t">max:</label>
                                <input type="number" class="form-control" id="ch_viewCount_t" name="ch_viewCount_t" value="{{exp_data.get('c_filter',{}).get('viewCount_t')}}">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="row"><h3>Videos filter</h3></div>
                            <div class="form-group form-inline">
                                <label for="vid_commentCount_f">Comments min: </label>
                                <input type="number" class="form-control" id="vid_commentCount_f" name="vid_commentCount_f" value="{{exp_data.get('v_filter',{}).get('commentCount_f')}}">
                                <label for="vid_commentCount_t">max:</label>
                                <input type="number" class="form-control" id="vid_commentCount_t" name="vid_commentCount_t" value="{{exp_data.get('v_filter',{}).get('commentCount_t')}}">
                            </div>
                            <div class="form-group form-inline">
                                <label for="likeCount_f">Likes min: </label>
                                <input type="number" class="form-control" id="likeCount_f" name="likeCount_f" value="{{exp_data.get('v_filter',{}).get('likeCount_f')}}">
                                <label for="likeCount_t">max:</label>
                                <input type="number" class="form-control" id="likeCount_t" name="likeCount_t" value="{{exp_data.get('v_filter',{}).get('likeCount_t')}}">
                            </div>
                            <div class="form-group form-inline">
                                <label for="dislikeCount_f">DisLikes min: </label>
                                <input type="number" class="form-control" id="dislikeCount_f" name="dislikeCount_f" value="{{exp_data.get('v_filter',{}).get('dislikeCount_f')}}">
                                <label for="dislikeCount_t">max:</label>
                                <input type="number" class="form-control" id="dislikeCount_t" name="dislikeCount_t" value="{{exp_data.get('v_filter',{}).get('dislikeCount_t')}}" >
                            </div>
                            <div class="form-group form-inline">
                                <label for="favoriteCount_f">Favorites min: </label>
                                <input type="number" class="form-control" id="favoriteCount_f" name="favoriteCount_f" value="{{exp_data.get('v_filter',{}).get('favoriteCount_f')}}">
                                <label for="favoriteCount_t">max:</label>
                                <input type="number" class="form-control" id="favoriteCount_t" name="favoriteCount_t" value="{{exp_data.get('v_filter',{}).get('favoriteCount_t')}}">
                            </div>
                            <div class="form-group form-inline">
                                <label for="vid_viewCount_f">Views count min: </label>
                                <input type="number" class="form-control" id="vid_viewCount_f" name="vid_viewCount_f" value="{{exp_data.get('v_filter',{}).get('viewCount_f')}}">
                                <label for="vid_viewCount_t">max:</label>
                                    <input type="number" class="form-control" id="vid_viewCount_t" name="vid_viewCount_t" value="{{exp_data.get('v_filter',{}).get('viewCount_t')}}">
                            </div>
                            <div class="form-group form-inline">
                                <label for="time_to_see" data-toggle="tooltip"
                                       title="если видюшка размещена в промежутке от (сейчас - сие значение) до сейчас">
                                    До
                                    какого времени (секунды): </label>
                                <input type="number" class="form-control" id="time_to_see" name="time_to_see" value="{{exp_data.get('time_to_see', 3600*24*7)}}">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <!--<button class="btn btn-big btn-info" onclick="start_experiment()" disabled>Начать в фоне</button>-->
                        <input type="submit" class="btn btn-big btn-info" id="start-exp" value="Начать">
                    </div>
                </div>
            </form>
        </div>
