{% extends "layout.html" %}
{% block body %}

{% block content %}
<script src="{{ url_for('static', filename='js/ym.js') }}"></script>

<div class="content">
    <div class="container">
        <h4><a href="{{url_for('youtube_manage')}}"><<<</a></h4>
        <h3>Результаты эксперимента по поиску: <big>{{exp_data["keywords"]}}</big></h3>
        <div class="form-wrapper">
            <div class="accordion" id="info-accordion">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#info-accordion"
                           href="#exp-data-form">
                            Изменить параметры поиска
                        </a>
                    </div>
                    <div id="exp-data-form" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <table class="table table-stripped table-hover table-condensed">
                                {% include "ym_partial_form.html" %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="container-fluid" id="experiment-result">
        <div class="row">
            <canvas id="canvas">
            </canvas>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h3 id="error"></h3>
            </div>
        </div>
        <table class="table sortable table-stripped">
            <thead>
            <tr>
                <td>url/title</td>
                <td class="sorttable_numeric">videos</td>
                <td class="sorttable_numeric">views</td>
                <td class="sorttable_numeric">subscribers</td>
                <td class="sorttable_numeric">comments</td>
            </tr>
            </thead>
            <tbody id="experiment-channels">
            {% for channel in channels %}
            <tr>
                <td>
                    <a href="https://www.youtube.com/channel/{{channel['channel_id']}}" target='_blank'>{{channel['title']}}</a>
                </td>
                <td>
                    {{channel['videoCount']}}
                </td>
                <td>
                    {{channel['viewCount']}}
                </td>
                <td>
                    {{channel['subscriberCount']}}
                </td>
                <td>
                    {{channel['commentCount']}}
                </td>
                <td>
                    <span id="load-{{channel['channel_id']}}" class="glyphicon glyphicon-barcode" onclick="load_data('{{channel['channel_id']}}', '{{exp_data['exp_id']}}')">

                    </span>
                </td>
            </tr>
            {%endfor%}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}

{% endblock %}