{% extends "layout.html" %}
{% block body %}

{% block content %}
<script>
    function delete_exp(exp_id){
        $.ajax({
            method:"POST",
            url:"/youtube/delete_exp/"+exp_id,
            success:function(data){
                    if (data.ok){
                        $("#"+exp_id).addClass("more-opacity");
                    }
                }
            }
        );
    }
</script>

<div class="content">
    <div class="container">
        {% include 'ym_partial_form.html' %}
    </div>

    <div class="container">
        {%if load_exps_results %}
        <h3>Эксеприменты:</h3>
        <table class="table table-striped sortable">
            <thead>
            <tr>
                <td>
                    Эксперимент
                </td>
                <td>
                    Количество результатов
                </td>
                <td>
                    Количество загруженных каналов
                </td>
            </tr>
            </thead>
            <tbody>
            {%for exp_id, exp_data in load_exps_results.iteritems() %}
            <tr id="{{exp_id}}">
                <td class="col-md-4">
                    <a href="/youtube/exp_info/{{exp_data['exp_id']}}"> {{exp_data['keywords']}}</a>
                </td>
                <td class="col-md-4">
                    {{exp_data['results_count']}}
                </td>
                <td>
                    {{exp_data['channels']|length}}
                </td>
                <td>
                    <button class="btn btn-sm btn-danger" onclick="delete_exp('{{exp_id}}')">Нахуй</button>
                </td>
            </tr>
            {%endfor%}
            </tbody>
        </table>
        {%else%}
        <h4>Покамест ничего еще не загрузилося.
            <small>Начни, чтоли.</small>
        </h4>
        {%endif%}
    </div>
</div>

{% endblock %}

{% endblock %}